<!doctype html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>设备返回列表</title>
this is the debug page

<form id="debugForm" name="debugForm" action="/api/do_debug.htm" method="post">
	<table>
		<tr>
			<td>version:</td>
			<td><input name="version" id="version" type="text" value="1.0"/></td>
		</tr>
		<tr>
			<td>method:</td>
			<td>
			<select id="method" name='method' class="selectBox1" panelHeight="70">
				<option value="treebear.probedata.post" selected="selected">treebear.probedata.post</option>
			</select>
			</td>
		</tr>
		<tr>
			<td>timestamp:</td>
			<td><input name="timestamp" id="timestamp" type="text" value="1446368236580"/></td>
		</tr>
		<tr>
			<td>nonce:</td>
			<td><input name="nonce" id="nonce" type="text" value="180"/></td>
		</tr>
		<tr>
			<td>probeMac:</td>
			<td><input name="probeMac" id="probeMac" type="text" value="00:00:00:00:00:00"/></td>
		</tr>
		<tr>
			<td>probeSn:</td>
			<td><input name="probeSn" id="probeSn" type="text" value="AEsc11099"/></td>
		</tr>
		<tr>
			<td>probeData:</td>
			<td><input name="probeData" id="probeData" type="text"/></td>
		</tr>
		<tr>
			<td>url:</td>
			<td><input name="url" id="url" type="text" value="http://127.0.0.1:10808/api/postdata.htm"/></td>
		</tr>
		<tr>
			<td>token:</td>
			<td><input name="token" id="token" type="text" value="gjA4fd0"/></td>
		</tr>
		<tr>
			<td><input type="button" onclick='submitForm()' value="提交"/></td>
		</tr>
	</table>
	
    </form>

<div id='result'>
</div>

<script>
function submitForm(){
	var form = $( "#debugForm" );

	$.ajax({
	  method: "POST",
	  url: form.attr("action"),
	  data: form.serialize()
	})
	.done(function( msg ) {
	
	    $('#result').text('第三方服务器响应:' + msg);
	});
}
</script>