<!doctype html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>设备返回列表</title>

<style type="text/css">
.angent_tableStyle tr th a{color:#00f}
.angent_tableStyle tr th a:hover{color:#00f;text-decoration:underline;}
</style>
<script type="text/javascript">

function onSearch(){
	j('#pageNo').val('1');
	if(!issqe()){
		return false;
	}
	document.routerReturnListForm.submit();
}

function reject(rid){
	para = "routerId="+rid;
	xmlHttp = j.ajax({
		url:"/ag/router_return_reject.htm",
		async:true,
		data:para,
		dataType:"json",
		type:"POST",
    	error:function(){
    		alert('请求异常');
    	},success:function(resp){
    		if(resp.success){
    			alert('成功拒绝设备');
				location.reload();
    		}else{
    			alert(resp.message);
    		}
    	}
	});
}

function acp(rid){
	para = "routerId="+rid;
	xmlHttp = j.ajax({
		url:"/ag/router_return_accept.htm",
		async:true,
		data:para,
		dataType:"json",
		type:"POST",
    	error:function(){
    		alert('请求异常');
    	},success:function(resp){
    		if(resp.success){
    			alert('成功接收设备');
				location.reload();
    		}else{
    			alert(resp.message);
    		}
    	}
	});
}

	function preBatchAcceptRouter(){
		var routerId = '';     
		j("input[name='checkbox_router']").each(function(index){
			if(j(this).attr("checked")=="checked"){
            	routerId = routerId + this.id + ',';
			}
        });
       if (routerId==''){
	   		alert('请选择要接收的设备！');
			return;
	   }
	   var routerIds = routerId.split(',');
	   var count = routerIds.length -1;
	   j("#AcceptBatchNum").text(count);
		dialog = art.dialog({
			title:'接收设备',
			content: '本次共接收设备'+count+'台',
			id: 'batchAcceptDialog',button: [
				{name: '返回',
	            callback: function () {
					return doBatchAccept(routerId,count);
				},focus: true},
				{name: '取消'}
			]
		});
	}
	
	function doBatchAccept(routerId,routerCount) {
		if(!confirm('确定要接收'+routerCount+'台设备吗')){
			return false;
		}
		routerId = routerId.substring(0,routerId.length-1);
		para = "routerId="+routerId;
    	xmlHttp = j.ajax({
    		url:"/ag/router_return_accept_batch.htm",
    		async:true,
    		data:para,
    		dataType:"json",
    		type:"POST",
	    	error:function(){
				alert('请求异常')
	    	},success:function(resp){
	    		if(resp.success){
					if (resp.AcceptSuccess == routerCount) {
						alert('返回成功');
						return;
					}
					j("#AcceptBatchNumTip1").text(routerCount);
					j("#AcceptBatchNumTip2").text(routerCount - resp.acceptSuccess);
					dialog = art.dialog({
            			title:'接收设备',
            			content: j('#AcceptBatchTipDialogDiv')[0],
						cancel: false,
            			id: 'batchAcceptDialog',button: [
            				{name: '确认',
            	            callback: function () {
            					location.reload();
            				},focus: true},
            			]
            		});
				}else{
					alert(resp.message);
				}
	    	}
    	});
	}

	

j(function(){
	initRouterType(j("#routerTypeTmp").val());
	
	j("#check").click(function(){
    	if(j(this).attr('checked')=="checked"){
    		j("input[name='checkbox_router']").each(function(index){
    			if(j(this).attr("checked")!="checked"&&j(this).attr("disabled")!="disabled"){
                	j(this).attr("checked", true);
    			}
            });
    	}else{
    		j("input[name='checkbox_router']").each(function(index){
            	j(this).attr("checked", false);
            });
    	}
	})
	
	
	j("#returnAgent").autocomplete({
			source: function( request, response ) {
    			para = "q="+request.term+"&isIncludeMe=N";
        		xmlHttp = j.ajax({
        		url:"/ag/json/agent_searchAgentListJson.htm",
        		async:true,
        		data:para,
        		dataType:"json",
        		type:"POST",
        		error:function(){
					alert('数据加载异常')
        		},success:function(data){
					j("#returnAgent").removeClass( "ui-autocomplete-loading" );
					if(data.state!=0){
						j("#returnAgentErrorDiv").text(data.msg);
						//alert(data.msg);
						j("#returnAgent").autocomplete("close");
					}else{
						j("#returnAgentErrorDiv").text('');
					}
					if(typeof(data.agentList) == "undefined"){
                        data.agentList = new Array();
                    }
					response(j.map( data.agentList, function( item ) {
						return {
							label: item.returnAgent,
							value: j.trim(item.agentName),
						}
					}));
	        	}
        	});
			},minLength: 1,
			open: function() {
				j( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
			},close: function() {
				j( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
			},change: function( event, ui ) {
				if(typeof(ui.item) != "undefined" && ui.item!=null){
					j('#returnAgent').val(ui.item.value);
				}
			},select: function( event, ui ) {
				if(typeof(ui.item) != "undefined" && ui.item!=null){
					j('#returnAgent').val(ui.item.value);
				}
			},search: function( event, ui ) {
			}
		});
	
});

</script>
#CSRFTokenMeta()
#CSRFTokenMetaReference()
</head>
<body>
	<input id="routerTypeTmp" type="hidden" value="$!{routerType}" />
	<form id="routerReturnListForm" name="routerReturnListForm" action="/ag/router_return_list.htm" method="post" enctype="multipart/form-data">
	<!-- use append child instead -->
	<input type="hidden" id="pageSize" name="pageSize" value="10"/>
	<input type="hidden" id="pageNo" name="pageNo" value="1" />
	序列号：
    <input name="routSeq" id="routSeq" value="$!{routSeq}" type="text" class="sousuoInput" onblur="issqe()" maxlength="20" style="width:180px"/>
	<span  class="font12" id="pubemsg" name="pubemsg" style="color: red"></span>
	设备型号：<select id="routerType" name='routerType' class="selectBox1" panelHeight="70" style="width:150px" onchange="changeFactoryId()"><option value=''>--请选择--</option></select>
	版本：<select id="edition" name='edition' class="selectBox1" panelHeight="70">
		<option value="">全部</option>
		<option value="0" #if("$!edition" == "0") selected="selected"#end>商家版</option>
		<option value="1" #if("$!edition" == "1") selected="selected"#end>媒体版</option>
	</select>
	
	退回代理商名称：<input type="text" id="returnAgent" name="returnAgent" class="sousuoInput" value="$!{returnAgent}"/>

    <input name="" class="button sousuoBtn" type="button" value=" 搜 索 " onclick="onSearch()"/>
	#if($permissionUtil.hasAgentPerm('111311'))
	<input type="button" value="批量接收设备" onclick="preBatchAcceptRouter()"/>
	#end
	#if($permissionUtil.hasAgentPerm('111312'))
	<input type="button" value="批量拒绝设备" onclick="preBatchRejectRouter()"/>
	#end
	
	#CSRFToken()
</form>
    <table width="99.9%" border="1" cellspacing="0" cellpadding="5" class="angent_tableStyle" style="margin-top:20px">
      <tr>
		<!--#if ($canUpGrade) <th width="5%"><input type="checkbox" id="check"/> </th>#end-->
		<th width="5%"><input type="checkbox" id="check"/> </th>
        <th width="9%">硬件序列号</th>
		<th width="9%">设备型号</th>
		<th width="5%">版本</th>
		<th width="9%">固件版本 </th>
        <th width="13%">退回代理商名称</th>
		<th width="10%">操作菜单</th>
      </tr>
	  #foreach($temp in $!{resultList})
      <tr>
		<td >
			<input type="checkbox" id="$!temp.routerId" name ="checkbox_router"  />
		</td>
        <td>
			<span id="rs$!{temp.routerId}" style="display:none;">$!{temp.routerSeq}</span>
			#if($!{temp.edition}==1)
				<span style="color:blue" title="媒体版">$!{temp.routerSeq}</span>
			#else
				$!{temp.routerSeq}
			#end
		</td>
		<td>
			$!{temp.routerTypeAliasName}
		</td>
		<td>
			#if($!temp.edition=='0')
				商家版
			#elseif($!temp.edition=='1')
				媒体版
			#elseif($!temp.edition=='2')
				萤石版
			#elseif($!temp.edition=='4')
				付费版
			#end
		</td>
		<td>
			$!{temp.firmwareVersion}
		</td>
		<td>
			$!{temp.agentName}
		</td>
		<td>
			#if($permissionUtil.hasAgentPerm('111311'))<input type="button" id="ubtn$!{temp.routerId}" value="接收设备" onclick="acp('$!{temp.routerId}')"/>#end
			#if($permissionUtil.hasAgentPerm('111312'))<input type="button" id="tbtn$!{temp.routerId}" value="拒绝设备" onclick="reject('$!{temp.routerId}')"/>#end
        </td>
      </tr>
	#end
    </table>
	#PAGINATOR($!{pagination},'routerReturnListForm')

<div id="AcceptBatchTipDialogDiv" style="display:none">
	本次共接收设备<span id="AcceptBatchNumTip1"></span>台，无法接收设备<span id="AcceptBatchNumTip2"></span>台<br/><br/>
</div>

<div id="returnAgentErrorDiv" style="color:red;"></div>

</body>
</html>